body {
  background: radial-gradient(rgb(233, 57, 57), rgb(255, 153, 0));
  height: 100vh; /*gradient will take whole view height*/
  /* background-color: red; */
  display: flex;
  justify-content: center; /*horizontally center*/
  align-items: center; /*vertically center*/
}
.box {
  /* background-color: blue; */
  /* width: 400px; */
  /* height: 400px; */
  padding: 30px;
  /* position: relative; */
}

.btn {
  color: white;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 5px;
  padding: 15px 150px;
  font-size: 20px;
  position: relative;
}
.badge {
  color: white;
  border: 3px solid white;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: orange;
  position: absolute;
  /* bottom: 30px; */
  top: -15px;
  right: -15px;
  /* left: 125px; */
}
