body {
  margin: 0;
}
.nav {
  background-color: azure;
  padding: 30px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  box-sizing: border-box;
}
.nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
